# tuple

In [6]:
tup1 = ('fisika kelas 12', 'biologi kelas 8', 2019,20)
tup2 = (2,3,5,4,6,7)
tup3 = "a","b","c" 
tup1

('fisika kelas 12', 'biologi kelas 8', 2019, 20)

In [10]:
print ("tup1[0]:", tup1[0])
print ("tup2[1:5]:", tup2[1:5])

tup1[0]: fisika kelas 12
tup2[1:5]: (3, 5, 4, 6)

In [7]:
tup2

(2, 3, 5, 4, 6, 7)

In [8]:
print(tup1)

('fisika kelas 12', 'biologi kelas 8', 2019, 20)

In [9]:
tup3

('a', 'b', 'c')

In [11]:
tup1 = ("PSBB","Jakarta","diperpanjang","Oktober",1983,90)
tup2 = "PSBB","Jakarta","diperpanjang","Oktober",2983,90

In [13]:
#mengakses nilai tuple
print("tup1[1]:",tup1[0])
print("tup2[1:5]:",tup2[1:5])

tup1[1]: PSBB
tup2[1:5]: ('Jakarta', 'diperpanjang', 'Oktober', 2983)

In [15]:
#membuat tuple baru
tup3 = tup1+tup2
print(tup3)

('PSBB', 'Jakarta', 'diperpanjang', 'Oktober', 1983, 90, 'PSBB', 'Jakarta', 'diperpanjang', 'Oktober', 2983, 90)

In [18]:
tup1 = ("Daerah Istimewa Yogyakarta","PPKM Level 1",2021,"oktober",4)
tup2 = "Daerah Istimewa Yogyakarta","PPKM Level 1",2021,"oktober",4
tup3 = "Cinta",2021

In [20]:
#memanggil elemen ke 2 (urutan ke dua dari tuple 2)
tup1[1]

'PPKM Level 1'

In [25]:
#memanggil elemen ke 5
tup1[4]

4

In [26]:
#memanggil elemen pertama tapi dari belakang
tup1[-1]

4

In [27]:
tup1[0]

'Daerah Istimewa Yogyakarta'

In [29]:
tup1[-0]

'Daerah Istimewa Yogyakarta'

In [31]:
tup4 = tup1+tup3
print(tup4)

('Daerah Istimewa Yogyakarta', 'PPKM Level 1', 2021, 'oktober', 4, 'Cinta', 2021)

In [35]:
#panjang data
len(tup1)

5

In [33]:
len(tup2)

5

In [34]:
len(tup3)

2

# list

In [36]:
list1 = ["kasus","covid","menurun","mendekati angka","100 oran per hari"]
list2 = [1,2,3,5,7,9,11]

In [40]:
#akses nilai list
list2[5]

9

In [41]:
list1[4]

'100 oran per hari'

In [43]:
list3 = list1 + list2
print(list3)

['kasus', 'covid', 'menurun', 'mendekati angka', '100 oran per hari', 1, 2, 3, 5, 7, 9, 11]

In [45]:
list3[0]

'kasus'

In [46]:
#memanggil elemen 1 sampai 3 maka dlm bentuk matematis x<3
list3[1:3]

['covid', 'menurun']

In [47]:
list3[1:5]

['covid', 'menurun', 'mendekati angka', '100 oran per hari']

In [48]:
#menghitung banyaknya elemen dalam list
list2.count(9)

1

In [54]:
#mengganti/remove elemen
list2.remove(1)
print(list2)

[2, 3, 5, 7, 9, 11]

In [57]:
#mengurutkan data
list2.sort()
list2

[2, 3, 5, 7, 9, 11]

In [56]:
#mengubah urutan elemen dari terakhir ke awal
list2.reverse()
list2

[11, 9, 7, 5, 3, 2]

# dictionary

In [63]:
!pip install datetime

Requirement already satisfied: datetime in c:\users\hp\anaconda3\lib\site-packages (4.3)
Requirement already satisfied: zope.interface in c:\users\hp\anaconda3\lib\site-packages (from datetime) (5.3.0)
Requirement already satisfied: pytz in c:\users\hp\anaconda3\lib\site-packages (from datetime) (2021.1)
Requirement already satisfied: setuptools in c:\users\hp\anaconda3\lib\site-packages (from zope.interface->datetime) (52.0.0.post20210125)

In [65]:
import datetime

In [70]:
ktp1 = {
    "nama":"bima suci",
    "nik":"357089100921004",
    "tempat lahir":"sleman",
    "tanggal lahir":datetime.datetime(2021,10,10),
    "pekerjaan":"masih bayi"
}
print(ktp1)

{'nama': 'bima suci', 'nik': '357089100921004', 'tempat lahir': 'sleman', 'tanggal lahir': datetime.datetime(2021, 10, 10, 0, 0), 'pekerjaan': 'masih bayi'}

mengakses dictionary
1. menyebutkan kata kunci
2. menggunakan get

In [72]:
x = ktp1["nik"]
x

'357089100921004'

In [81]:
x = ktp1.get("nik")
x

'357089100921004'

In [83]:
#mengubah tempat lahir
ktp1["tempat lahir"]="jakarta"
ktp1

{'nama': 'bima suci',
 'nik': '357089100921004',
 'tempat lahir': 'jakarta',
 'tanggal lahir': datetime.datetime(2021, 10, 10, 0, 0),
 'pekerjaan': 'masih bayi'}

In [85]:
#menambah elemen data 
ktp1["kewarganegaraan"]="wni"
ktp1

{'nama': 'bima suci',
 'nik': '357089100921004',
 'tempat lahir': 'jakarta',
 'tanggal lahir': datetime.datetime(2021, 10, 10, 0, 0),
 'pekerjaan': 'masih bayi',
 'kewarganegaraan': 'wni'}